#include "information.h"
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "..\..\Inc\ccx.h"
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

#undef APSTUDIO_READONLY_SYMBOLS


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)
#endif //_WIN32

#ifndef _MAC

1 VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080004e4"
        BEGIN
            VALUE "FileDescription", "Value-Add Object For Clickteam's MMF2"
            VALUE "FileVersion", "v1.2"
            VALUE "LegalCopyright", "Copyright © 2008 Dynamic Arcade"
            VALUE "OriginalFilename", "ValueAdd.mfx"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 1252
    END
END

#endif    // !_MAC

KPX_MAGICNUMBER RCDATA MOVEABLE PURE 
BEGIN
    0x2516, 0x5908
END

#if defined(APSTUDIO_INVOKED) || defined(EDITOR)
#if defined(APSTUDIO_INVOKED)
EXO_ICON$(EDITOR)       BITMAP  MOVEABLE PURE   "EXTICON.BMP"
#else
EXO_ICON                BITMAP  MOVEABLE PURE   "EXTICON.BMP"
#endif
#endif
//#if defined(APSTUDIO_INVOKED) || defined(EDITOR)
//#if defined(APSTUDIO_INVOKED)
//EXO_IMAGE$(EDITOR)      BITMAP  MOVEABLE PURE   "EXTICON.BMP"
//#else
//EXO_IMAGE               BITMAP  MOVEABLE PURE   "EXTICON.BMP"
//#endif
//#endif

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#include ""..\\..\\Inc\\ccx.h""\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""ver.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

STRINGTABLE DISCARDABLE 
BEGIN
    KPX_MARK                "MF2"
    KPX_NAME                ObjectName
END

#endif
